<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge=chrome=1">
    <meta name="Software Engineer" author="Robert Yarborough">
    <meta content="">
	<title>angular-bookmark&&lazyload-app</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="app/css/main.css">
</head>
<body>
<div ng-init="tab='TWO'">
	<h1>{{Two}}</h1>
</div>
<div class="container">
	<div class="row">
		<tabset>
		   <tab title="Tab1" template-url="views/tab1.html"></tab>
		   <tab title="Tab2" template-url="views/tab2.html"></tab>
		   <tab title="Tab3" template-url="views/tab3.html"></tab>
		</tabset>
	</div>
</div>

</body>
</html>